.about-row1 {
	width: 50%;
	height:10%;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
	margin: 0px;
	float:left;
}
/*additions to rows and columns */

.about-hero-image-container {
    object-fit: cover;
	height: 35%;
	width:25%;
	background-image:url("../images/darkbluebackground1.png");
	margin-left: 5%;
	margin-top: 3%;
	border-radius:5%;
	border:solid skyblue;
}

.about-contact-home {
	color:white;
	background-color:black;
    height: 50%;
    /* padding: 4px;
	opacity: .8;
	float:center; */
	width:33%;
	text-align:center;
	border-radius:3%;
	float:center;
	margin-left: 10%;
	margin-top:15%;
}

.about-pic{
	content: center;
    height:65%;
    width:100%;
    border-radius: 5%;
    color:skyblue;
    background-color:skyblue;
    font-family:'Press Start 2P', cursive;
	border:solid black;
}

.aboutIcon{
    text-align: center;
    padding: 30% 10%;
    margin: 5px;

}
.about-Name{
	font-size: 14px;
	margin-bottom:5px;
	margin-top: -120px;

}

.about-header {
	min-height: 100vh;

}

.job-hero-image-container {
   
	height: 55%;
	width:80%;
	background-image:url("../images/darkbluebackground1.png");
	margin-left: 5%;
	margin-top: 3%;
	border-radius:5%;
	border:solid skyblue;
}
.nes-ash {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;	
}
.nes-mario {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;	
}
.nes-bulbasaur {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;	
}
.nes-charmander {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;	
}
.nes-squirtle {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;	
}
.nes-kirby {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25%;	
}

@media only screen and (max-width: 660px) {
	 
	.about-hero-image-container {
		object-fit: cover;
		height: 45%;
		width:90%;
		margin-left: 5%;
		margin-top: 3%;
		border-radius:5%;
		border:solid skyblue;
	}
		}
	  
	
  