@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
#location-input{
  width:300px;
height:45px;
}
#key-word-input{
  width:300px;
  height:45px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Press Start 2P', cursive;
}

.App-link {
  color: #09d3ac;
}
/* input for job seach */

.form-control{
  height: 60px;
  width: 100px;

}