PostList{
    background:white;
}
button{
    color:white;
}

.voteInput{
    background:white;
height:50px;
width:50%;
}


.voteButton{
    width:100px;
    height:100px;
    background-color:pink;
}

.postVote{
    color:green;
    background-color:pink;
    padding:20px;
}
/* .Posting{
    width:2em;
    border:none;
} */
