@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
/* body{
  background-color:#282c34;
} */

.App {
  text-align: center;

}
.pic{
  height:65%;
  width:26%;
  border-radius: 50%;
  color:skyblue;
  background-image:url("../images/sunSet.gif");
  background-color:#282c34;
  font-family:'Press Start 2P', cursive;
  border:solid skyblue;
  /* margin-left:45%;
  margin-top:8%; */
}


@media only screen and  (max-width : 954px) {
  /* Styles */
  .pic{
    height:45%;
    width:36%;
    border-radius: 50%;
  }
  .profilePic{
    height:320px;
    margin-top:-55px;
  }
  }
@media only screen and  (max-width : 604px) {
  /* Styles */
  .pic{
    height:25%;
    width:36%;
    border-radius: 50%;
  }
  .profilePic{
    height:130px;
    margin-top:-55px;
  }
  .contactInfo{
    height:0px;
    width:200px !important;
    
    border:;
  }
  input{
    width:60%;
    margin:7px;
    
  }
  legend{
    font-size: 0px;
    width:30px;
    
  }
  .contact-home{
    margin-top:20%;
    background-color:none;
    font-size: 10px;
  }
  fieldset{
    margin-left:-10px;
    margin-top:110px;
    height:90px;
    float:right;

   
  }
  .Name{
    font-size: 10px;;
  }
  .Email{
    font-size: 8px;
  }
  .nes-icon.is-large{
 
transform: scale(2.5);

margin-right:22px;


  }
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  /* Styles */
  .pic{
    height:25%;
    width:36%;
    border-radius: 50%;
  }
  .profilePic{
    height:130px;
    margin-top:-55px;
  }
  .contactInfo{
    height:0px;
    width:200px !important;
    
    border:;
  }
  input{
    width:30%;
    margin:7px;
  }
  legend{
    font-size: 0px;
    width:30px;
    
  }
  .contact-home{
    margin-top:20%;
    background-color:none;

  }
  fieldset{
    margin-left:-120px;
    margin-top:120px;
    height:100px;

   
  }
  .Name{
    border-bottom:bl;
  }
  .nes-icon.is-large{
  
transform: scale(2.2);
margin-bottom:20px;
margin-right:-65px;

  }
  }
.nes-icon{
  margin-right:10px;
  margin-left:10px;

}
.nes-icon:hover{
 height:20px;
 width:20px;
 /* background-color:salmon; */
}
.row{
  color:white;
  background-color:#282c34;
  font-family:'Press Start 2P', cursive;
}
.contact-home {
	color:white;
	/* background-color:black; */
    height: 50%;
    /* padding: 4px;
	opacity: .8;
	float:center; */
	width:33%;
	text-align:center;
	border-radius:3%;
	float:center;
	margin-left: 70%;
	margin-top:15%;
}
fieldset{
  height:360px;
  font-size: 13px;
  margin-bottom: -8%;
  /* margin-left:-120px */
  
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Press Start 2P', cursive;
}

.App-link {
  color: #09d3ac;
}
header{
  /* border:solid; */
}
.rowA {
	width: 100%;
	height:700px;
	clear: both; /* Clear creates new styles for the next row */
	padding: 0px;
  margin: 0px;

  
}
.aboutYou {
  object-fit: cover;
height: 25%;
width:95%;
background: lightpink;
margin-left: 3%;
margin-top: 3%;
border-radius:5%;
color:white;
background-color:#282c34;
}
.traits {
  object-fit: cover;
height: 5%;
width:95%;
background: lightpink;
margin-left: 3%;
margin-top: 3%;
border-radius:5%;
color:white;
background-color:#282c34;
}
.contactInfo {
  /* object-fit: cover; */
  color:white;
  background-color:black;
width:310px;
margin-left: 3%;

border-radius:5%;
text-align: left;
padding-left:8px;
padding-bottom:8px;
position: absolute;

}
.Name{
  border-bottom:solid skyblue;
  margin-bottom:5px;
}
.Email{
  border-bottom:solid skyblue;
  margin-bottom:5px;
  font-size: 12px;
}

/* middle column styles */
.workExperience {
  object-fit: cover;
height: 25%;
width:75%;
color:white;
background-color:#282c34;
margin-left: 10%;
margin-top: 3%;
border-radius:5%;
border:solid;
text-align: left;
text-align: left;
padding-left:10px;
padding-top:10px;

}
.Education {
object-fit: cover;
height: 25%;
width:95%;
color:white;
background-color:#282c34;
padding-left:10px;
padding-top:10px;
margin-left: 3%;
margin-top: 3%;
border-radius:5%;
text-align: left;
text-align: left;
/* border:solid; */

}
.gitHubLink {
  object-fit: cover;
height: 10%;
width:95%;
color:white;
background-color:#282c34;
margin-left: 3%;
margin-top: 3%;
border-radius:5%;
text-align: center;
/* border:solid; */
}
.skills {
  object-fit: cover;
text-align: left;
width:95%;
color:white;
background-color:#282c34;
margin-left: 3%;
margin-top: 3%;
border-radius:5%;
/* border:solid; */
padding-left:8px;
padding-bottom:8px;
}
/* end of middle */


/* start of drop down button content  */
.Dbtn {
  background-color: lightblue;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width:100%;
}

.DD {
  position: relative;
  /* display: inline-block; */
  width:90%;
  margin-left:5%;
  margin-top:2%;
}

.DD-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.DD-content: p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.DD-content p:hover {background-color: black}

/* .DD:hover .DD-content {
  display: block;
} */
.DD:hover .DD-content {
  display: block;
}

.DD:hover .Dbtn {
  /* background-color:#f97253; */
  /* display: none; */
}
  

/* end of drop down button content */

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
  -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
  transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}





button{
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
}

.link{
  background-color:skyblue;
  margin-left:5%;
  margin-top:2%;
  font-family: 'Raleway', sans-serif;

}
.link:hover{
  /* background-color:#f97253; */

}
.item{
  background-color:skyblue;
  width:90%;
  margin-top:25px; 
  border-radius: 0%;
  height:60px;
  /* object-fit: cover; */
  
}

.dropdown-menu{
  width:100%;
  margin-right:5.1%;
  color:white;
  background-color: black;
  border:solid 5px skyblue;
  font-family: 'Raleway', sans-serif;
}
.list{
  width:90%;
  text-align: left;
  color:white;
  background-color: black;
}


a{
  color:black;
}

ML CSSResult
EDIT ON
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

a {
  border-bottom: 1px solid #453886;
  color: #453886;
  padding-bottom: .25em;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .66em;
  text-decoration: none;
}
